@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";

@mixin elr-data-list($config: ()) {
  $config: extend(
    (
      color: $text-color,
      background-color: $main-background,
      max-width: 100%,
      max-height: 100%,
    ),
    $config
  );

  $color: map-get($config, color);
  $background-color: map-get($config, background-color);
  $max-width: map-get($config, max-width);
  $max-height: map-get($config, max-height);

  border-radius: $border-radius;
  border: $border;
  box-shadow: $shadow;
  background-color: $background-color;
  overflow-y: auto;
  max-width: $max-width;
  position: relative;

  @if ($max-height != 100%) {
    max-height: $max-height;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* Chrome/Safari/Webkit */
    }

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .data-list-heading {
    background-color: $background-color;
    padding: $base-fontsize ($base-fontsize * 1.5);
    box-shadow: $header-shadow;
    border-radius: $border-radius $border-radius 0 0;

    @if ($max-height != 100%) {
      position: sticky;
      top: 0;
      left: 0;
    }

    h3 {
      font-size: $base-fontsize * 1.5;
      font-weight: 900;
      padding: 0;
      margin: 0;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: $base-fontsize;
      color: $dark-gray;
    }
  }

  .data-list-items {
    dl {
      padding: 0;
      margin: 0;

      div {
        margin: 0;
        background-color: $eggshell;
        padding: $base-fontsize ($base-fontsize * 1.5);
        display: flex;
        align-items: center;

        &:nth-child(even) {
          background-color: $background-color;
        }

        dt {
          flex: 1;
          margin-right: 32px;
          color: $dark-gray;
        }

        dd {
          flex: 3;
          // flex: 1;
          color: $text-color;
          display: flex;
          align-items: center;

          span {
            flex: 1;
            display: block;
            padding-left: 8px;
            padding-right: 8px;
            align-items: center;
          }

          button {
            background: transparent;
            border: 0;
            margin-left: 8px;
            margin-right: 8px;
            color: $primary-color-dark;
            font-weight: 700;

            &.text-danger {
              color: $danger-color;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }

        dt,
        dd {
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 1;
        }
      }

      div:last-child {
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
  }
}
